* {
	font-family: "Helvetica", sans-serif;
	color: seashell;
}

body {
	font-size: 22px;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin: 0;

}

header {
	position: fixed;
	z-index: 5;
	height: 69px;
	width: 100%;
	background-color: black;
	border-bottom: 1px solid seashell;
	display: flex;
	justify-content: space-between;
}

header nav {
	text-align: right;
	padding-top: 10px;
	flex-grow: 1;
}

nav span {
	display: inline-block;
	padding: 10px 10px;
	text-decoration: underline;
	color: seashell;
}

.logo {
	display: flex;
	margin-top: 10px;
	margin-left: 10px;
	align-items: left;
}

.logo img {
	justify-content: space-around;
	height: 50px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 69px;
	opacity: 0.9;
	width: 1200px;
	margin: auto;
}

#mission {
	background-image: url(../images/img-mission-background.jpg);
	height: 700px;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.statement {
	width: 1200px;
	background-color: black;
}

.tea_types {
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	justify-content: center;
}

.tea_types img {
	height: 200px;
	width: 300px;
	margin-left: 15px;
	margin-right: 18px;
	display: block;
}

.tea_types h4 {
	margin-top: 10px;
}

#locations {
	background-image: url(../images/img-locations-background.jpg);
	height: 500px;
	width: 1200px;
	padding-bottom: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact {
	height: 200px;
}

footer {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 20px;
}